<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="org.gamefolk.beg">
     
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <application>
         <activity android:name="org.gamefolk.beg.multiplayer.MultiplayerActivity" android:label="AbsurdEngine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>


